body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image:url(/images/bg-top.svg); 
    background-repeat: no-repeat;
    font-family: "Open Sans", sans-serif;
    overflow-x: hidden;
  }